.review-wrapper {
  padding: 2em 0;
}

.title {
  font-size: 3em;
  font-family: Nunito;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5em;
  margin-top: 1em;
  color: grey;
}

.review-end {
  color: grey;
  margin-top: 2em;
  width: 95%;
}
